:root {
  --blue: #00374a;
  --offwhite: #fffaf5;
  --font-color: #754c29;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Trajan";
  src: url(./assets/fonts/Trajan\ Pro.ttf) format("truetype"),
    url(./assets/fonts/TrajanPro-Bold.otf) format("opentype"),
    url(./assets/fonts/TrajanPro-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Boheme Floral";
  src: url(./assets/fonts/Boheme\ Floral.ttf) format("truetype");
  font-weight: normal;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadetobottom {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.9);
	}

	100% {
		transform: scale(1);
	}
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trajan", Courier, monospace;
}

body {
  color: var(--font-color);
  background: var(--offwhite);
}

.icon {
  font-size: 50px;
}

.img_logo_header {
  display: flex;
  align-items: center;
  width: 50px;
}

header {
  box-shadow: 0px 3px 10px #754c294c;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: var(--font-color);
  text-align: center;
  padding: 14px 36px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: var(--font-color);
  border-radius: 7px;
  color: var(--offwhite);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--font-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--font-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.check {
  align-items: center;
  background-color: var(--font-color);
  color: #fffaf5;
  border-radius: 7px;
  margin-left: 10px;
}

.check:hover {
  background-color: #422b17;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

.seccion1 {
  text-align: center;
  padding-top: 50px;
  flex-direction: row;
  padding-bottom: 40px;
}

.seccion1 h1 {
  animation: fadetobottom 1.5s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal none;
  font-family: "Boheme Floral";
  font-weight: 500;
  font-size: 90px;
}

.seccion1 h3 {
  animation: fadetobottom 1.5s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal none;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
}

.seccion1 img {
  animation: 1.5s ease-in 0s 1 fadeIn;
  max-width: 150px;
  max-height: 100px;
  width: auto;
  height: auto;
}

.seccion2 {
  animation: 1.5s ease-in 0s 1 fadeIn;
  text-align: center;
  padding-top: 50px;
  flex-direction: row;
  padding-bottom: 10px;
}

.botoes {
  animation: 1.5s ease-in 0s 1 fadeIn;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.botoes a {
  cursor: pointer;
  border-radius: 5px;
  padding: 8px;
  background-color: var(--font-color);
  text-decoration: none;
  color: var(--offwhite);
  margin: 20px;
}

.botoes a:hover {
  opacity: 0.7;
}

.botoes h5 {
  font-family: "Trajan", Courier, monospace;
}

.headerDica {
    display: flex;
    flex-direction: row;
}

.headerDica p a {
  text-decoration: none;
  color: var(--font-color);
}

.belezaContainer {
  border-color: var(--font-color);
  border: 1px solid;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.belezaContainer {
  display: flex;
  flex-direction: row;
}

.belezaContainer p a {
  text-decoration: none;
  color: var(--font-color);
}

.belezaContainer h2 {
  padding-top: 20px;
  padding-left: 20px;
}

.belezaContainer p {
  padding-top: 20px;
  padding-left: 20px;
}


.dica {
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.558);
    margin-left: 20%;
    margin-right: 20%;
}

 .headerDica img {
    margin: 10px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.headerDica h2 {
    padding-top: 50px;
    padding-left: 20px;
}

.headerDica p {
    padding-top: 20px;
    padding-left: 20px;
}

.dica iframe {
    
    width: 100%;
}

.botaoLink {
    text-decoration: none;
    margin-top: 30px;
}

.botaoLink a {
    text-decoration: none;
    color: var(--font-color);
}

.botaoLink h4 {
    text-align: center;
    justify-content: center;
    width: 180px;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid var(--font-color);
    text-decoration: none;
}

.botaoLink h4:hover {
    color: var(--offwhite);
    background-color: var(--font-color);
    border: 1px solid var(--font-color);
    text-decoration: none;
}

.footer {
  margin-top: 70px;
  padding-top: 15px;
  width: 100%;
  height: 195px;
  background-color: #754C29;
  text-align: center;
}

.footer .img_footer {
  width: 150px;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.footer p {
  color: #b58a63;
  font-size: 8px;
}

.footer a {
  text-decoration: none;
  color: #c89e77;
}

@media screen and (max-width: 768px ) {
  body {
    color: var(--font-color);
    background: var(--offwhite);
  }

  .nav-bar {
    align-items: center;
    padding: 1rem;
  }

  .nav-item {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }
  
  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .open {
    display: block;
  }

  .seccion1 {
    text-align: center;
    padding-top: 50px;
    flex-direction: row;
    padding-bottom: 20px;
  }
  
  .seccion1 h1 {
    font-family: "Boheme Floral";
    font-weight: 500;
    font-size: 90px;
    margin-bottom: 30px;
  }
  
  .seccion1 h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 20px;
  }
  
  .seccion1 img {
    max-width: 150px;
    max-height: 100px;
    width: auto;
    height: auto;
  }

  .seccion2 {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding-top: 50px;
    flex-direction: row;
    padding-bottom: 10px;
  }

  .botoes {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .botoes a {
    cursor: pointer;
    border-radius: 5px;
    padding: 8px;
    background-color: var(--font-color);
    text-decoration: none;
    color: var(--offwhite);
    margin: 10px;
  }
  
  .botoes a:hover {
    opacity: 0.7;
  }
  
  .botoes h5 {
    font-family: "Trajan", Courier, monospace;
  }
  
  
  .headerDica {
      display: flex;
      flex-direction: column-reverse;
  }
  
  .headerDica p a {
    text-decoration: none;
    color: var(--font-color);
  }
  
  
  .dica {
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.558);
    margin-left: 5%;
    margin-right: 5%;
  }
  
   .headerDica img {    
    width: 90%;
    height: 250px;
    border-radius: 10px;
  }
  
  .headerDica h2 {
    padding-top: 30px;
    padding-left: 20px;
  }
  
  .headerDica p {
    padding-top: 20px;
    padding-left: 20px;
  }
  
  .dica iframe {
    margin-left: 10px;
    width: 90%;
    height: 250px;
  }
  
  .botaoLink {
      text-decoration: none;
      margin-top: 20px;
  }
  
  .botaoLink a {
      text-decoration: none;
      color: var(--font-color);
  }
  
  .botaoLink h4 {
      text-align: center;
      justify-content: center;
      width: 180px;
      margin: 10px;
      padding: 10px;
      border-radius: 12px;
      border: 1px solid var(--font-color);
      text-decoration: none;
  }
  
  .botaoLink h4:hover {
      color: var(--offwhite);
      background-color: var(--font-color);
      border: 1px solid var(--font-color);
      text-decoration: none;
  }
  
  .footer {
    margin-top: 90px;
    height: 110px;
    width: 100%;
    background-color: #754C29;
    text-align: center;
  }
  
  .footer .img_footer {
    width: 80px;
  }
  
  .footer p {
    color: #b58a63;
    font-size: 6px;
  }
  
  .footer a {
    text-decoration: none;
    color: #c89e77;
  }

}