:root {
  --blue: #00374A;
  --offwhite: #fffaf5;
}

* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: var(--offwhite);
}

.seccion1 {
  text-align: center;
  padding-top: 100px;
  flex-direction: row;
}

.seccion1 h1 {
  font-weight: 500;
  text-transform: uppercase;
}

.seccion1 h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
}

.seccion1 img {
  opacity: 0.7;
  margin-top: 40px;
  max-width: 120px;
  max-height: 70px;
  width: auto;
  height: auto;
}

.seccion1 p {
  margin-top: 75px;
  text-align: justify;
  max-width: 900px;
}

.seccion2 img {
  margin-top: 55px;
  max-width: 900px;
  max-height: 800px;
  width: auto;
  height: auto;
}

.input-form .input-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: var(--offwhite);
}

.title-gallery {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  padding-top: 20px;
}  

.gallery {
  align-items: center;
  justify-content: center;
  display: block;
  flex-direction: column;
  column-count: 3;
  column-gap: 0;
  width: 50vw;
  margin: 0 25%;
}

.gallery img {
  padding: 7px;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;

  transition: scale 350ms ease, opacity 350ms linear;
}

.gallery img:hover {
  border: 1px solid #754C29;
}

.gallery:has(img:hover) img:not(:hover) {
  scale: .9;
  opacity: .7;
}